.container.home-questions-container{
    padding:20px;
}
.container.home-questions-container article{
    margin-bottom:25px;
    font-weight: 100;
}
.container.home-questions-container article a{
    color:$green;
    &:hover{
        color:$greenhover;
    }
}
.container.home-questions-container article header{
    font-weight: bold;    
    margin-bottom: 10px;
}
